{{ define "main" }}
<section class="container" id="gallery">
    {{if not .IsHome }}
    <h2><span class="title">{{ .Title | markdownify }}</span></h2>    
    {{ end }}

    <!-- hard coded -->

    <!--
        for each page in work
            link to each page 
            if has category
                add to class
            if has thumbnail
                add to img in link

            <a href="">
                <div class="mix"></div>
            </a> 
    -->

    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>

</section>
{{ end }}

<!--
    define block "scripts"
    add mixitup.js
-->