html {
    overflow-y: scroll;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-list li {
    display: inline;
}