<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode | default "en" }}">
	{{ partial "head.html" . }}

	<body>
        {{ partial "header.html" . }}
        {{ block "main" . }} <!-- main needs class of wrapper -->
            <!-- content -->
        {{end}}
        {{ partial "footer.html" . }}
        <main class="wrapper">
			{{ partial "navigation.html" . }}
		
			<!-- content -->

			{{ partial "footer.html" . }}
		</main>
		{{ partial "scripts.html" . }}
	</body>

</html>


<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </body>
</html>
