<!-- navigation -->
<nav class="navigation">
	<section class="container">
		<a class="navigation-title" href="{{ "/" | relURL }}">
			<h1 class="title">{{ .Site.Title }}</h1>
		</a>
		<ul class="navigation-list float-right">
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
			<li class="navigation-item">
				<a class="navigation-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
					href="{{ .URL }}" title="{{ .Title }}">
					{{ .Name }}"
				</a>
			</li>
			{{ end }}
		</ul>
	</section>
</nav>

<!-- sidebar start -->
<aside>
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                        <a href="#">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    <li>
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
            <li>
                <a href="#" target="_blank">Hardcoded Link 1</a>
            </li>
            <li>
                <a href="#" target="_blank">Hardcoded Link 2</a>
            </li>
        </ul>
    </aside>