<!-- website template -->
{{ define "main" }}

<section class="container" id="post">
	{{ partial "single/post-info.html" . }}
	{{ partial "single/title.html" . }}

	{{ partial "single/header.html" . }}

	{{ .Content }}

	{{ partial "single/footer.html" . }}
</section>

<nav class="navigation-pagination">
	<section class="container" id="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.URL }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.URL }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</section>
</nav>

{{ end }}