<!-- website template -->
{{ define "main" }}

    <section class="container" id="catalogue">
        <h1>{{ strings.FirstUpper .Data.Singular }} {{ .Title }}</h1>
        <div class="catalogue">
            {{ range (.Paginate .Pages).Pages }}
                {{ .Render "summary" }}
            {{ end }}
        </div>    
    </section>

    <nav class="navigation-pagination">
        <section class="container" id="pagination">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
            {{ end }}
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
            {{ end }}
        
            <span>{{ .Paginator.PageNumber }}</span>
        </section>
    </nav>

{{ end }}